.App {
  text-align: center;
}
.link{
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 30px;
}
a{
  text-decoration: none;
  color: red;
}

.prod{
  width: 40%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  border: 1px solid black;
}
.prodlink{
  border: 1px solid black;
  width: 35%;
  text-align: left;
}
.prodlink +div{
  text-align: left;
}
.errorbtn{
  border: 0px;
}